<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width" />
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
    <title>Hello APP</title>
    <link rel="stylesheet" type="text/css" href="../css/aui-flex.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../css/swiper.css" />
    <link rel="stylesheet" type="text/css" href="../css/common.css" />
    <style>
        #header .iconfont {
            font-size: 1rem;
        }

        .filterBox {
            background-color: #FFF;
            padding: 0.6rem 0;
        }

        .sortBox {
            padding: 0 10px;
            margin-bottom: 0.5rem;
        }
        .filterItem {
            width: auto;
            font-size: 0.7rem;
            padding: 0 0.75rem;
            border-radius: 100px;
            height: 1.2rem;
            line-height: 1.2rem;
        }

        .filterItem.active {
            background: #F7F4ED;
            color: #DCB482;
        }

        @media all and (max-width: 350px) {
            .filterItem {
                padding: 0 0.5rem;
            }
        }
    </style>
</head>

<body>
    <div id="app">
        <header class="aui-header-bar" id="header">
            <div class="aui-header-left" tapmode onclick="api.closeWin();">
                <span class="aui-iconfont aui-icon-left"></span>
            </div>
            <div class="aui-title" v-text="title">影片</div>
            <div class="aui-header-right color-main">
                <span class="iconfont icon-cascades" v-show="listMode==1" v-tap="[changeListMode,2]"></span>
                <span class="iconfont icon-list" v-show="listMode==2" v-tap="[changeListMode,1]"></span>
            </div>
        </header>
        <div class="filterBox aui-border-b" id="nav">
            <div class="sortBox aui-flex-col aui-flex-between aui-flex-middle">
                <div class="filterItem" :class="{'active' : sortSelected == 'default'}" v-tap="[selectSort,'default']">综合</div>
                <div class="filterItem" :class="{'active' : sortSelected == 'play'}" v-tap="[selectSort,'play']">最多播放</div>
                <div class="filterItem" :class="{'active' : sortSelected == 'new'}" v-tap="[selectSort,'new']">最近更新</div>
                <div class="filterItem" :class="{'active' : sortSelected == 'laud'}" v-tap="[selectSort,'laud']">最多喜欢</div>
            </div>
            <div class="catList">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide filterItem" :class="{'active' : classifySelected == 0}" v-tap="[selectClassify,0]">全部</div>
                        <div class="swiper-slide filterItem" :class="{'active' : classifySelected == it.id}" v-for="(it,index) in classifys" v-text="it.name" v-tap="[selectClassify,it.id,index]">喜剧</div>
                    </div>
                </div>
            </div>
            <div class="catList" v-if="childrenClassifys.length">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide filterItem" :class="{'active' : classifySelected == it.id}" v-for="it in childrenClassifys" v-text="it.name" v-tap="[selectClassify,it.id]"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/dom7.js"></script>
<script type="text/javascript" src="../script/vue.js"></script>
<script type="text/javascript" src="../script/vue-tap.js"></script>
<script type="text/javascript" src="../script/common.js"></script>
<script type="text/javascript" src="../script/swiper.min.js"></script>
<script type="text/javascript">
    var vuedata = {
        title: '影片',
        listMode: 1,
        sortSelected:'default',
        classifySelected:0,
        classifys:[],
        childrenClassifys:[]
    };
    var vm = new Vue({
        el: '#app',
        data: vuedata,
        methods: {
            selectSort:function(t){
                vuedata.sortSelected = t;
                api.sendEvent({
                    name: 'refrshMovieListData',
                    extra: {
                        classifyId: vuedata.classifySelected,
                        sort: vuedata.sortSelected
                    }
                });
            },
            selectClassify:function(id,index){
                vuedata.classifySelected = id;
                if(vuedata.classifys[index].childs.length && vuedata.classifys[index].childs){
                    vuedata.childrenClassifys = vuedata.classifys[index].childs;
                }else{
                    vuedata.childrenClassifys = []
                }
                var headerH = $api.offset($api.byId('header')).h;
                var navH = $api.offset($api.byId('nav')).h;
                console.log(navH)
                api.setFrameAttr({
                    name: 'video_list_frm',
                    rect: {
                        x: 0,
                        y: headerH+navH
                    }
                });


                api.sendEvent({
                    name: 'refrshMovieListData',
                    extra: {
                        classifyId: id,
                        sort: vuedata.sortSelected
                    }
                });

            },
            changeListMode: function(i) {
                vuedata.listMode = i;
                api.execScript({
                    frameName: 'video_list_frm',
                    script: 'changeListMode("' + i + '");'
                });
            }
        }
    });


    function sliderInit() {
        new Swiper('.catList .swiper-container', {
            freeMode: true,
            slidesPerView: 'auto',
            freeModeSticky: true,
            slidesOffsetBefore: 10,
            slidesOffsetAfter: 10
        });
    }
    apiready = function() {
        api.parseTapmode();
        $api.fixStatusBar($api.byId('header'));
        var headerH = $api.offset($api.byId('header')).h;
        var navH = $api.offset($api.byId('nav')).h;
        console.log(navH)
        vuedata.title = api.pageParam.name;
        vuedata.classifySelected = api.pageParam.classifyId;
        var classifys = $api.getStorage('classifyData');
        if(classifys){
            vuedata.classifys = JSON.parse(classifys);
        }
        setTimeout(function(){
            sliderInit();

        },100)
        api.openFrame({
            name: 'video_list_frm',
            url: 'video_list_frm.html',
            rect: {
                x: 0,
                y: headerH + navH,
                w: 'auto',
                h: 'auto',
            },
            bounces: true,
            pageParam: api.pageParam
        });
    };
</script>

</html>
